 <div class="product-details">
        <section>
          <h3>Classical violin</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
          </div>
        </section>
        <section>
          <h3 class="sr-only">Price</h3>
          <p class="text-black small"><s>£250</s></p>
          <p class="text-danger font-weight-bold">£200</p>
        </section>
      </div>